<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>PLAYERS</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Accounts </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="col-6">Equipos</span>
    <span class="col-4">
      <span *ngFor="let team of teams" class="col-12">
        <button class="shield" (click)="selectTeam(team.teamName)">
          <img [src]="team.src" style="width: 40px;" />
        </button>
      </span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
