<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="false"
></ngx-spinner>
<app-menu-teams
  (refreshPlayers)="refreshPlayerFromLocal()"
  (getPlayers)="refreshPlayersFromDatabase()"
  (onKeyUp)="searchPlayer($event)"
  (onSelectTeam)="selectTeam($event)"
  (onSortbyId)="
    isAscendingId = !isAscendingId; sortPlayersByProperty('id', isAscendingId)
  "
  (onSortbyName)="
    isAscendingName = !isAscendingName;
    sortPlayersByProperty('nombreCompleto', isAscendingName)
  "
  (onSortbyAge)="
    isAscendingAge = !isAscendingAge;
    sortPlayersByProperty('edad', isAscendingAge)
  "
></app-menu-teams>
<app-dashboard
  (onCreatePlayer)="createPlayer($event)"
  (onUpdatePlayer)="updatePlayer($event)"
  (onRemovePlayer)="removePlayer($event)"
  *ngIf="players$ | async as players"
  [players$]="players"
></app-dashboard>
