<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="timer"
  [fullScreen]="false"
></ngx-spinner>
<app-menu-teams
  (refreshPlayers)="refreshPlayers()"
  (onRefreshPage)="refreshPlayers()"
  (onSelectTeam)="selectTeam($event)"
  (onKeyUp)="searchPlayer($event)"
  (onSortbyId)="
    isAscendingId = !isAscendingId; sortPlayersByProperty('id', isAscendingId)
  "
  (onSortbyName)="
    isAscendingName = !isAscendingName;
    sortPlayersByProperty('nombreCompleto', isAscendingName)
  "
  (onSortbyAge)="
    isAscendingAge = !isAscendingAge;
    sortPlayersByProperty('edad', isAscendingAge)
  "
>
</app-menu-teams>
<app-dashboard
  (onKeyUp)="searchPlayer($event)"
  [sort]="sort"
  [searchName]="searchName"
  *ngIf="players$ | async as players"
  [players$]="players"
></app-dashboard>
