<div class="container">
  <div class="row">
    <app-player-list
      class="col-7"
      [players]="players$.slice(minIndex, maxIndex)"
      (cardClicked)="getPlayerClicked($event)"
    ></app-player-list>
    <app-player-information
      class="col-5"
      [selectedPlayer]="selectedPlayer"
      (onCreatePlayer)="createPlayer($event)"
      (onUpdatePlayer)="updatePlayer($event)"
      (onRemovePlayer)="removePlayer($event)"
    ></app-player-information>
  </div>
</div>
<mat-paginator
  class="col-7"
  [length]="players$.length"
  [pageSize]="pageSize"
  [pageIndex]="index"
  [pageSizeOptions]="[5, 10, 25, 50]"
  (page)="eventPage($event)"
>
</mat-paginator>
