<div id="information" class="container">
  <h1>{{ showCurrentAction() }}</h1>
  <mat-card class="example-card">
    <div class="row">
      <div class="col-6">
        <button mat-raised-button color="primary" (click)="readyNewPlayer()">
          Nuevo Jugador
        </button>
      </div>
    </div>
    <form [formGroup]="formPlayerInformation" class="player-form">
      <p>
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" [readonly]="true" />
        </mat-form-field>
      </p>
      <div>
        <p>
          <img id="imgAvatar" [src]="avatarSrc" />
        </p>
      </div>
      <p>
        <mat-form-field>
          <mat-label>Nombre completo</mat-label>
          <input
            matInput
            formControlName="nombreCompleto"
            placeholder="Ex. Juan"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Edad</mat-label>
          <input matInput formControlName="edad" placeholder="Ex. 25" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Fecha de nacimiento</mat-label>
          <input
            matInput
            formControlName="fechaNacimiento"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>País</mat-label>
          <input
            matInput
            formControlName="paisNacimiento"
            placeholder="Ex. España"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Lugar de nacimiento</mat-label>
          <input
            matInput
            formControlName="lugarNacimiento"
            placeholder="Ex. Málaga"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Demarcación</mat-label>
          <mat-select formControlName="demarcacion">
            <mat-option
              *ngFor="let demarcacion of demarcaciones"
              [value]="demarcacion"
            >
              {{ demarcacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <div>
        <button
          *ngIf="optionCreatePlayer"
          type="submit"
          (click)="createPlayer()"
          [disabled]="!this.formPlayerInformation.valid"
        >
          Crear
        </button>
        <div *ngIf="!optionCreatePlayer">
          <button
            type="submit"
            (click)="updatePlayer()"
            [disabled]="!this.formPlayerInformation.valid"
          >
            Update
          </button>
          <button
            type="submit"
            (click)="removePlayer()"
            [disabled]="!this.formPlayerInformation.valid"
          >
            Remove
          </button>
        </div>
      </div>
      <p>
        <input
          type="file"
          ng2FileSelect
          id="inputFileAvatar"
          [uploader]="uploader"
          style="display: none;"
          accept="image/*"
          (onFileSelected)="onFileSelected($event)"
        />
        <input type="hidden" name="fileHidden" formControlName="foto" />
        <label for="inputFileAvatar" class="btn btn-primary"
          >Seleccionar foto</label
        >
      </p>
    </form>
  </mat-card>
</div>
