@import "@angular/material/prebuilt-themes/indigo-pink.css";

img {
  width: 70%;
}
.player-image {
  margin-left: 3% !important;
  /* margin-top: 0.5% !important; */
}
mat-card-header {
  padding: 10px;
}
