@import "@angular/material/prebuilt-themes/indigo-pink.css";

img {
  width: 120px;
}

.image-container {
  margin-left: 5%;
  margin-right: 10%;
}

.player-image {
  margin-left: 3% !important;
}

mat-card-header {
  padding: 10px;
}
