<br />
<div *ngFor="let player of players" class="container">
  <mat-card class="example-card" (click)="showInfoPlayer(player)">
    <mat-card-header>
      <mat-card-title>{{ player.nombreCompleto }}</mat-card-title>
    </mat-card-header>
    <div class="row">
      <div class="image-container col-lg-4">
        <img
          class="player-image"
          mat-card-image
          src="data:image/jpeg;base64,{{ player.foto }}"
        />
      </div>
      <mat-card-content class="col-lg-6">
        <p><b>Id:</b> {{ player.id }}</p>
        <p><b>Edad:</b> {{ player.edad }}</p>
        <p><b>Fecha de nacimiento:</b> {{ player.fechaNacimiento }}</p>
        <p><b>Pais:</b> {{ player.paisNacimiento }}</p>
        <p><b>Lugar de nacimiento:</b> {{ player.lugarNacimiento }}</p>
        <p><b>Posición:</b> {{ player.demarcacion }}</p>
      </mat-card-content>
    </div>
  </mat-card>
  <br />
</div>
<mat-paginator
  [length]="totalPlayersCount"
  [pageSize]="10"
  [pageIndex]="0"
  [pageSizeOptions]="[5, 10, 25, 50]"
  (page)="getPaginatorData($event)"
>
</mat-paginator>
