<br />
<div *ngFor="let player of players" class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ player.nombreCompleto }}</mat-card-title>
    </mat-card-header>
    <div class="row">
      <img
        class="col-2 player-image"
        mat-card-image
        src="data:image/jpeg;base64,{{ player.foto }}"
        alt="Imagen {{ player.foto }}"
      />

      <mat-card-content class="col-8">
        <p><b>Edad:</b> {{ player.edad }}</p>
        <p><b>Fecha de nacimiento:</b> {{ player.fechaNacimiento }}</p>
        <p><b>Pais:</b> {{ player.paisNacimiento }}</p>
        <p><b>Lugar de nacimiento:</b> {{ player.lugarNacimiento }}</p>
        <p><b>Posición:</b> {{ player.demarcacion }}</p>
      </mat-card-content>
    </div>
  </mat-card>
  <br />
</div>
